#red{
    background-color: red;
    color: red;
    padding: 10px 10px;
}
#green{
    background-color: green;
    color: green;
    padding: 10px 10px;
}
#blue{
    background-color: blue;
    color: blue;
    padding: 10px 10px;
}