*{
    font-family: Garamond;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        'l-up   m-up'
        'l-up   m-dwn'
        'l-dwn  m-dwn'
        'footer footer' 
    ;
}

#l-up{
    height: 500px;
    background-color: lavender;
    grid-area: l-up;
}

#l-dwn{
    height: 300px;
    background-color: lavender;
    grid-area: l-dwn;
}

#m-up{
    height: 150px;
    background-color: indigo;
    color: white;
    font-size: 200%;
    text-align: center;
    grid-area: m-up;
}

#m-dwn{
    height: 650px;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
    grid-area: l-dwn;
}

footer{
    background-color: indigo;
    color: white;
    text-align: right;
    grid-area: footer;
}

ul{
    list-style-type: square;
}

img:hover{
    padding: 4px;
    border: solid 1px indigo;
}