*{
    font-family: Cambria;
}

header{
    background-color: #C2185B;
    color: white;
    text-align: center;
    padding: 15px;
}

main{
    background-image: url(pliki/rozmycie.jpg);
    height: 500px;
}


main{
    display: flex;
}

main div{
    background-color: #FCE4EC;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
}

main:first-child{
    visibility: visible;
}

#m-2, #m-3{
    visibility: hidden;
}

footer{
    display: flex;
}

footer div{
    display: flex;
    background-color:  #C2185B;
    color: white;
    width: 25%;
    height: 240px;
}

p{
    padding-top: 20px;
}

a{
    color: white;
}

input{
    width: 80%;
    height: 30px;
    padding: 10px;
}

button{
    background-color: #c2185b;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}

video{
    height: 100%;
    width: 100%;
}